<!--Created 4/22/2020 by Nina Yao -->
<!--Edited 4/22/2020 by Nick Harvey: Added name, email, phone number fields-->
<!-- Edited 4/23/2020 by Nick Harvey: CSS and HTML styling -->
<!-- Edited 4/24/2020 by Alli Hornyak: restrict date -->
<div class="main">
    <h2>Edit Reservation for </h2>
    <div class="container-fluid">
        <div class="col-md-12">
        <%= form_for @reservation do |f| %>
            <p><%= label_tag("Enter Name:") %><br>
            <%= f.text_field :name %></p>
            <p><%= label_tag("Enter Email:") %><br>
            <%= f.text_field :email %></p>
            <p><%= label_tag("Enter Phone Number:") %><br>
            <%= f.text_field :phone_num %></p>
            <p><%= label_tag("Enter Date:") %><br>
            <%= f.date_field :date, min: Date.today%></p>
            <p><%= label_tag("Enter Time:") %><br>
            <%= f.time_select :time, include_seconds: false  %></p>
            <p><%= label_tag("Enter Party Size:") %><br>
            <%=f.number_field :party_size, required: true, min: 1 %></p>
            <p><%= label_tag("Enter Special Requests:") %><br>
            <%= f.text_field :special_requests %></p>
            <%= f.submit class: "btn btn-default btn-primary"%>
        <% end %>
        </div>
    </div>
</div>
